.inside{
  width: 50%;
  text-align: center;
  margin:3px;
  margin-left: 25%;
  font-size: 12px;
}
.title{
  font-size: 22px;
}
div{
  width:100%
}
.background-image{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position:center;
}